streamlit
pandas
numpy
yfinance
plotly
requests
beautifulsoup4
tqdm
python-dateutil
scipy
vaderSentiment
newsapi-python
textblob
python-dotenv
feedparser
matplotlib
psycopg2-binary>=2.9.9
sqlalchemy>=2.0.0